@font-face {
	font-family: header-font;
	src: url(header-font.woff);
}
@font-face {
	font-family: my-font;
	src: url(my-font.woff);
}

html {
  height: 100%;
}

body {
  background-color: #666666;
  min-height: 100%;
}

p {
	color: white;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  background-color: darkgrey;
}

.navbar-default { 
margin : 0 !important; 
background-color: darkgrey;
}

.navbar-header {
	float: initial;
	background-color: darkgrey;
}

.navbar-brand {
	color: #ffffff !important;
	background-color: darkgrey;
}

.banner  {
margin-top: 0px;
padding-top: 0px;
margin-left:-20px;
	
}

.dropdown-toggle {
  background-color: #666666;
  	color: #ffffff !important;
}

ul.nav li a, ul.nav li a:visited {
	color: #ffffff;
}

ul.dropdown-menu li a {
	color: #000000 !important;
}

.dropdown-menu {
	background: darkgrey;
}



.caption-text {
	  background-color: #00000080;
}

h4 {
	margin-left: 15px;
  font-family: my-font, Arial;
	font-size: 17px;
	font-weight: bold;
}

h3 {
  font-family: my-font;
  	font-size: 25px;
	font-weight: bold;
	color: white;
}

footer {
  background-color: darkgray;
  border-top: 1px solid darkgray;
  display: flex;
  justify-content: space-around;
}

.list-inline {
	margin-top: 15px;
}

.information {
  text-align: left;
  padding-left: 43px;
  font-family: my-font;
  margin-top: 17px;
  font-size: 20px;
  letter-spacing: 2px;
}

	input, #form {
		width: 300px;
		display: inline-block;
		float: left;
		clear: both;
	}
	
button {
	background-color: #ffffff;
	transition-duration: 0.4s;
	padding: 14px 50px;
	border-radius: 10px;
	margin-left: 60px;
}

button:hover {
  background-color: #666666;
  color: black;
}

#themeButton {
float: right;
}

#root {
	  display: list-item;
}